.nav {
  position: relative;
}

.nav a {
  color: #f95;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Shift', sans-serif;
  padding: 14px 10px;
}

.nav span {
  color: green;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Shift', sans-serif;
  padding: 14px 10px;
}

.nav li {
  display: inline-block;
  text-align: center;
}

.nav ul {
   position: relative;
   top:0px;
   bottom: 0px;
}

.jumbotron {
  background-image:url(images/bg2.jpg);
  background-attachment: fixed;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
	font-family: 'Shift', sans-serif;
	font-size: 15px;
	text-align: center;
}

.heading {
	font-weight: bold;
	font-size: 18px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.neighborhood-guides {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
  color: #393c3d;
  font-size: 24px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.neighborhood-guides p {
  font-size: 15px;
  margin-bottom: 13px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

input[type=text], textarea, input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border-color:orange;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ddd; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}